/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap')
@import url('https://fonts.googleapis.com/css?family=Noto+Serif&display=swap')
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap')

body
  background-color: #f4eae0
  color: white

// MAPBOX STYLE
.mapboxgl-popup-tip
  //border-top-color: red !important

.mapboxgl-popup-content
  //background-color: red !important
  padding: 0
  color: black

  button
    width: 100%
    background-color: #51b3ad
    border: none
    color: white
    padding: 15px 32px
    text-align: center
    text-decoration: none
    display: inline-block
    font-size: 16px
    border-bottom-right-radius: 3px
    border-bottom-left-radius: 3px
    font-family: 'Noto Serif', serif

  h1
    margin: 0
    padding: 18px
    color: #323232 !important
    background-color: #e6e6e6
    border-top-right-radius: 3px
    border-top-left-radius: 3px
    text-align: center
    border-bottom: #a8a8a8 2px solid
    font-size: 16pt
    font-family: 'Noto Serif', serif
  p
    margin: 0
    padding: 5px 18px
    color: #6e6e6e
    font-size: 12pt
    font-family: 'Source Sans Pro', sans-serif

    strong
      color: #b1b7b7
